body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 4px;
}

button {
    background: rgb(16, 15, 15);
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 2px;
}

#delete-btn {
    background: white;
    color: black;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: rgb(5, 84, 5);
}
p {
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
    text-align: center;
}


